/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap'); */

:root {
  --primary: #272a31;
  --secondary: #ec5242;
  --secondary-dark: #cc4030;
  --secondary-darker: #9e2a1d;
  --neutral: #d3d3d3;
  --neutral-darker: #999;
  --text-color: #5b5b5b;
  --sans-font: 'kanit', 'sans-serif';
  --serif-font: 'Lato', 'serif';
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow-y: hidden;
}

.container > * {
  max-width: 992px;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--primary);
}



